{% extends "index.html" %}

{% block content %}
<h1 class="logo cursive lo" style="font-family: cs">
    Team DeepWeek
</h1>
<br>


<div class="content">

    <div class="row">

        <form role="form" action="" method="post" style="color: white;">
            <div class="row">
                <div class="col-sm-12" style="text-align: center">

                </div>
                <br>
            </div>
            <div class="row" >
              <div class="col-sm-2 col-xs-1"></div>
              <div class="col-sm-8 col-xs-10" id="cont" style="padding: 0px">

                <div class="alert alert-success suc">
                  <h4><strong>Finalização da inscrição</strong></h4>
                    <p>Siga os passos abaixo para realizar o pagamento e concluir sua inscrição </p>
                </div>
                  <div class="alert alert-danger alert-dismissable" style="margin: 2%">
                  <strong>Instruções:</strong><br>
                      <br>
                      <strong>1º</strong> Sua pré-inscrição foi realizada! Agora você deve efetuar o pagamento da mesma.
                      Você pode escolher uma das formas de pagamentos disponíveis e efetuá-lo.

                      <br>  <br> <strong>2º</strong>
                      Você deve mandar uma foto ou print do extrato do depósito ou comprovate do PicPay
                      via WhatsApp para nossa equipe. Eles finalizarão sua inscrição.

                </div>
                  <ul class="list-group" style="color: black">
                      <li class="list-group-item">
                         <p><strong>Formas de pagamentos: </strong></p>
                          <p> Depósito Bancário, PicPay</p>
                      </li>
                      <li class="list-group-item">
                           <p><strong>Contatos</strong></p>
                          <p><strong>João Lucas: </strong> 99 98220-5165</p>
                          <p><strong>Email: </strong>jlucasevangelista153@gmail.com</p>
                      </li>
                      <li class="list-group-item">
                          <p><strong>Conta Bancária</strong></p>
                          <p><strong>Bradesco</strong><br> Agência: 6299 Conta: 11182-1</p>
                      </li>
                      <li class="list-group-item">
                          <p><strong>PicPay: </strong><br>Usuário: @joao.lucas.amorim</p>
                      </li>
                  </ul>
              </div>
              <div class="col-sm-2"></div>
            </div>
        </form>
        <br>
         <br>
         <br>
    </div>
</div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}