{% extends "index.html" %}

{% block content %}
<h1 class="logo cursive lo" style="font-family: cs">
    Team DeepWeek
</h1>
<br>


<div class="content">

    <div class="row">
        
        <form role="form" action="" method="post" style="color: white;">
            <div class="row">
                <div class="col-sm-12" style="text-align: center">

                </div>
                <br>
            </div>
            <div class="row" >
              <div class="col-sm-2 col-xs-1"></div>
              <div class="col-sm-8 col-xs-10" id="cont" style="padding: 0px">

                <div class="alert alert-danger suc">
                  <h4><strong>Atenção</strong></h4>
                    <p></p>
                </div>
                  <div class="alert alert-danger alert-dismissable" style="margin: 2%">
                  <strong>Aviso:</strong><br>
                      <br>
                      <strong>Participante já tem um trabalho submetido, entre em contato para mais informações.</strong>
                      
                </div>
  
              </div>
              <div class="col-sm-2"></div>
              
            </div>
            
        </form>
        <br>
         <br>
         <br>
    </div>
</div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}