#us{
    padding-top: 20%;
}
.linha{
    width: 100%;
    margin: 0px;
    margin-bottom: 2%;
}
.linha2{
    width: 100%;
    margin: 0px;
    margin-bottom: 1%;
    margin-top: 0%;
}

.linha4{
    width: 60%;
    margin: 0px;
    margin-bottom: 1%;
    margin-top: 0%;
     
}
.modalborda{
    border-radius: 5px 5px 5px 5px;
}
.modalre{
    border-radius: 0;
     border: solid inherit 0px;
}